<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="content-container">
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Offline Games
        </h1>

        <p class="poppins-medium mg-bottom">Preconditions:</p>
        
        <ul style="list-style-type: disc; margin-left: 20px;" class="poppins-medium mg-bottom">
            <li>This activity should be done with a minimum of 4 participants</li>
            <li>The participants should be in person.</li>
            <li>The activity should be done in a classroom or outside.</li>
            <li>A pen and paper</li>
        </ul>
        
        <h1 class="text-4xl font-bold mt-8 mg-bottom">
            Activity
        </h1>

        <p class="poppins-medium mg-bottom">
            Divide the number of students into 2 or more groups. Each group should have a minimum of 2 participants. 
        </p>

        <p class="poppins-medium mg-bottom">
            Each group should look around the area and identify all the objects. List the attributes and methods of 
            each object identified on a piece of paper. The students should then draw UML Class diagrams of the objects. 
        </p>

        <p class="poppins-medium mg-bottom">
            After 15 minutes, each group should present their UML Diagrams, emphasizing the class name, attributes, methods, 
            private and public members.
        </p>


        <button class="btn bg-orange-500 text-black hover:bg-orange-600 border-orange-500 hover:border-orange-600 focus:outline-none mg-bottom" (click)="goHome()">
            HomePage
        </button>

    </div>

    <dialog id="my_modal_1" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Ending</h3>
            <p class="py-4">
                {{message}}
            </p>
            <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
            </div>
        </div>
    </dialog> <!--END OF MODAL-->
</body>